body {
    margin: 0;
    font-family: 'Crimson Text', serif;;
}

h1 {
    font-size: 4em;
    padding: 0.5em 1.3em 0em 1.3em;
}

.headerimg {
   width: 100vw;
}

.cart-image {
    width: 27px;
}

.main-section-wrap {
   display: flex;
   justify-content: center;
   background-color: #bee3db;
 
}


.section-wrap {
    height: 47vh;
    padding: 1em;
   
}

.section-main {
    padding: 1em 3em;
}

.section-text {
    padding: 1em 6em;
}


.outer-main-section-wrap {
    background-color: #89b0ae;
    
}

.product-heading {
    padding: 1em 1em 0.5em 4em;
}

.product-button {
    padding-top: 1.5em;
    padding-bottom: 2em;
}

.contact-header {
    text-align: center;
}

.contact-form {
    text-align: center;
}

.contact-span {
    display: flex;
    display: inline-block;
}

.form-email {
    margin: 1em 0 ;
    padding-right: 10em
    
}

.comment-form {
    padding-right: 1em;
}
