body {
    margin: 0;
}

.headerimg {
   width: 100vw;
}

.main-section-wrap {
   display: flex;
   flex-direction: row;
}

.section-wrap {
    height: 30vh;
    display: flex;
    display: inline-block;
}

.section-main {
    padding: 1em 3em;
}

