body {
    margin: 0;
}

nav {
    background-color: aqua;
    width: 100vw;
}

.navlinks {
    list-style-type: none;
    text-decoration: none;
}

li a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}